language: php

php:
  - 5.6
  - 7
  - hhvm
  - hhvm-nightly

matrix:
  fast_finish: true
  allow_failures:
    - php: hhvm-nightly
    - php: 7

install:
  - composer install --prefer-source

script:
  - bin/peridot
